/*global rules*/
html{
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    background-color: rgb(225, 242, 242);
}

h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(32, 64, 86);
}

h2{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(32, 64, 86);
}

p{
    color: rgb(74, 74, 74);
}

body{
    background-color: inherit;
}

.container{
    margin-top: 5.25rem; /*tried position:relative; and top: 5.25rem; and it looked funny. this worked better.*/
    
}

/*cards styling*/

.card{
    height: 12rem;
    width: 12rem;
    background-color: rgb(153, 153, 153);
    border: 4px solid rgb(225, 242, 242);
    border-radius: 8px;
    font-weight: 900;
    font-size: 7rem;
    text-align: center;
    cursor: pointer;
}